
li,p { 
   color: cyan; 
    font-size: 50px; 
  } 

ul {
  text-align: center; 
  list-style: inside; 
  list-style-type: square; 
}

table, tr, td {
  border: 1px solid black; 
  border-collapse: collapse; 
  padding: 10px; 
  
} 

table {
  width: 75%; 
}

tr:hover {
  background-color: salmon; 
} 


body {
  background-color: antique-white; 
} 
h2 {
  color: salmon; 
  text-align: center; 
  background-color: antiquewhite; 
  border: 5px black dashed; 
  font-size: 100px; 
}
  
  img:hover {
    border: gold dotted 10px; 
   }
  

